<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wu4Shan  Shop Homepage </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/category.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Wu4Shan</a>
               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    <form class="d-flex">
						<button class="btn btn-outline-dark" type="submit">
                            log in 
                        </button>
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
						
                    </form>
                </div>
            </div>
        </nav>
        <div class="frame_1">
            <div class="block_1">
                <div class="Username">Username</div>
                <div class="Username">加入時間</div>  
            </div>
            
            <div class="block_2">
                <a class="shop_record" href="#!">購買記錄</a>
                <a class="wish_list" href="#!">願望清單</a>
            </div>
        </div>
        <center><hr width="900px" "></center>
        <div class="frame_2">
            <a class="cloth_all" href="/products/:category">全部</a>
            <a class="cloth_men" href="/products/:category/men">男裝</a>
            <a class="cloth_women" href="/products/:category/women">女裝</a>
            <a class="cloth_children" href="/products/:category/kids">童裝</a>

        </div>
       

        <!-- Header-->
        
        <!-- Section-->

        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% kids.forEach(product => { %>
                        
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <a class="badge bg-dark text-white  position-absolute_1 btn " href="#" style="top: 0.5rem; left: 0.5rem  ">Add</a>
                            <a class="badge bg-dark text-white position-absolute btn" style="top: 0.5rem; right: 0.5rem">Delete</a>
                            <!-- Product image-->
                            <img class="card-img-top" src="<%= product.Image %>" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= product.Product_name %></h5>
                                    <!-- Product reviews-->
                                    <h6 class="fw-bolder">商品id <%= product.Product_id %></h6>
                                    <h6 class="fw-bolder">尺寸</h6>
                                    <h6 class="fw-bolder">顏色</h6>
                                    <h6 class="fw-bolder">價錢： <%= product.Price %> 元</h6>
                                    
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">查看詳細資訊</a></div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                   
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
