<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wu4Shan  Shop Homepage </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/order.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Wu4Shan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
						<button class="btn btn-outline-dark" type="submit">
                            User 
                        </button>
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
						<button class="btn btn-outline-dark" type="submit">
                            Log out 
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        
        <main>
            <table>
                <tr>
                    <th>編號</th>
                    <th>商品名稱</th>
                    <th>商品照片</th>
                    <th>顏色</th>
                    <th>尺寸</th>
                    <th>數量</th>
                    <th>價格</th>
                    <th></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>素色T-shirt</td>
                    <td><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"></td>
                    <td>黑色</td>
                    <td>M</td>
                    <td>2</td>
                    <td>$300</td>
                    <td><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" width="25" height="30" alt="Delete" title="刪除商品"></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>條紋襯衫</td>
                    <td><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"></td>
                    <td>白色</td>
                    <td>L</td>
                    <td>1</td>
                    <td>$500</td>
                    <td><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" width="25" height="30" alt="Delete" title="刪除商品"></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>素色長袖衣</td>
                    <td><img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"></td>
                    <td>灰色</td>
                    <td>S</td>
                    <td>3</td>
                    <td>$400</td>
                    <td><a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" width="25" height="30" alt="Delete" title="刪除商品"></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total：</td>
                    <td>$1200</td>
                </tr>
            </table>
            <button class="btn btn-outline-dark" type="submit">
                確認結帳
            </button>
        </main>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
