<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% shops.forEach(item => { %>
        <form method="POST" action="/shop/shopend" style="border: solid red 1px;">
            <h2><%= item.Product_id %></h2>
            <h1><%= item.Product_name %></h1>
            <h5><%= item.Price %></h5>
            <img style="height:100px;width:100px;" src="<%= item.Image %>" alt="no image">
            <button>加入</button>
        </form>
    <% }) %>
</body>
</html>