<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% shops.forEach(item => { %>
        <div class="section" style="border: solid red 1px;">
            <h2 class="product_id"><%= item.Product_id %></h2>
            <h1 class="product_name"><%= item.Product_name %></h1>
            <h5 class="product_price"><%= item.Price %></h5>
            <img class="image" style="height:100px;width:100px;" src="<%= item.Image %>" alt="no image">
            <div style="display:flex">
              <div>數量</div>
                <div class="minus" style="color: red; cursor: pointer">減少</div>
                  <div class="quantity">1</div>
                <div class="add" style="color: red; cursor: pointer">增加</div>
              </div>
            <button>加入</button>
        </div>
    <% }) %>
</body>
<script src="../public/javascripts/shop.js"></script>
</html>