<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wu4Shan Demo</title>
</head>
<body>
    <% items.forEach(item => { %>
        <div>
            <h2><%= item.Product_id %></h2>
            <h1><%= item.Product_name %></h1>
            <h5><%= item.Price %></h5>
            <img src="<%= item.Image %>" alt="no image">
        </div>
    <% }) %>
</body>
</html>