html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  position: relative;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: calc(50% - 50px); /* Adjust the value as needed */
}

.left-section {
  flex: 1;
  margin-right: 20px;
}

.middle-section {
  flex: 2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-section {
  flex: 1;
  position: relative;
}

.product-title {
  font-size: 25px;
}

.product-id {
  font-size: 17px;
}

.product-color {
  font-size: 17px;
}

.product-size {
  font-size: 17px;
}

.product-price {
  font-size: 20px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-container {
  margin-bottom: 10px;
}

.quantity-label-container {
  margin-bottom: 5px;
}

.add-to-wishlist-button,
.add-to-cart-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-wishlist-button {
  margin-bottom: 10px;
}

.add-to-cart-button {
  margin-bottom: 20px;
}

.footer-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-left: 10px;
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
